body{
    font-family: "Kanit";
    font-size: 18px;
    color: #f5ebedf5;
}

.banner{
    height: 130px;
}

header{
    background-color: #ff2945;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    display: flex;
    justify-content: center;
}


.navbar-brand{
    font-size: 16px;
    color: #151C28;
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand:hover{
    box-shadow: 0 2.4px 0 #151C28;
}

nav
{
    background-color: #FBE89D;
}

#bottom-nav{
    background-color: #ff2945;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #151C28;
    font-family: "Kanit";
}

h1{
    font-family: "Kanit";
    font-weight: 600;
}

h2{
    font-family: "Kanit";
    font-weight: 500; 
    color: #ff2945;
    /* color: #FBEBB1; */
}

.headline
{
    color: #FBE89D;
    /* color: #ff2945; */
}

.lead
{
    color: #FBE89D;
}

.text-center
{
    color: #ff2945;
}

.box-shadow
{
    float: left;
    box-shadow: 5px 5px 1px #ff2945;
}

main.container section{
    margin-bottom: 15%;
    clear: both;
}

/* main.container section <FOR MOBILE>{
    margin-bottom: 30px;
    clear: both;
} */

main.container section img{
    display: block;
    float: left;
    height: 220px;
    margin-right: 20px;
}

#final-score{
    background-color: #ff2945; 
    border-radius: 15px 50px; 
    height: 100px; 
    text-align: center; 
    vertical-align: middle; 
    line-height: 100px; 
    font-size: 30px;
    font-weight: 400;
}

@media only screen and (max-width: 479px)
{
    .banner{
        height: 110px;
    }

    main.container section{
        margin-bottom: 30px;
    }

    main.container section img{
        block-size: auto;
        margin-bottom: 15px;
    }

    .box-shadow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}


/* .bg-body-tertiary{
    top: 0; 
    height: 100%;
} */
