*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Kanit";
    font-size: 18px;
    color: #f5ebedf5;
}

header{
    background-color: #ff2945;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 0 24px;
}

h2{
    font-size: 24px; 
}

h5{
    font-size: 21px;
}

.banner{
    height: 110px;
}

.navbar-brand{
    font-size: 16px;
    color: #151C28;
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand:hover{
    box-shadow: 0 2.4px 0 #151C28;
}

nav
{
    background-color: #ff2945;
}

#bottom-nav{
    background-color: #ff2945;
}

li{
    list-style: none;
}

.about-list{
    list-style: circle;
}

.nav-link{
    color: #151C28;
    text-decoration: none;
    transition: 0.7s ease;
}

.nav-link:hover{
    color: #ff2945;
}

.hamburger{
    /* display: none; */
    cursor: pointer;
    position: absolute;
    left: 50px;
    z-index: 2;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.bar{
    display: block;
    width: 40px;
    height: 5px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #151C28;
    border-radius: 6px;
    z-index: 2;
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    background-color:#f5ebedf5;
    width: 400px;
    height: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 130px;
    transition: 0.3s;
    font-weight: 500;
    font-size: 35px;
    z-index: 1;
}

.nav-menu::before,
.nav-menu::after {
    content: "";
    display: block;
    height: 18px;
    background-color: #151C28; /* Color of the bars */
    position: absolute;
    left: 0;
    right: 0;
}

.nav-menu::before {
    top: 0px; /* Adjust the top position to fit above your hamburger button */
    background: linear-gradient(to right, #ff2945 50%, #151C28 50%);
}

.nav-menu::after {
    bottom: -1px;
    background-color:#ff2945;
    background: linear-gradient(to right, #151C28 50%, #ff2945 50%);
}

.nav-item{
    margin: 16px 0;
    padding-right: 40px;
}

.nav-menu.active{
    left: 0%; 
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #151C28;
    font-family: "Kanit";
}

h1{
    font-family: "Kanit";
    font-weight: 600;
}

h2{
    font-family: "Kanit";
    font-weight: 500; 
    color: #ff2945;
    /* color: #FBEBB1; */
}

.review-date{
    float: right;
}

.headline
{
    color: #FBE89D;
    /* color: #ff2945; */
}

.lead
{
    color: #FBE89D;
}

.text-center
{
    color: #ff2945;
}

.box-shadow
{
    border-radius: 12px; 
}

.box-top
{
    border-radius: 10px 10px 0px 0px;
}

.box-bottom
{
    border-radius: 0px 0px 10px 10px;
}

main.container section{
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
    max-width: 100%;
}

main.container section img{
    display: block;
    float: left;
    height: 220px;
    margin-right: 20px;
}

.center{
    border-radius: 12px;
}

#final-score{
    background-color: #ff2945; 
    border-radius: 15px 50px; 
    height: 100px; 
    text-align: center; 
    vertical-align: middle; 
    line-height: 100px; 
    font-size: 30px;
    font-weight: 400;
}

#sidebar{
    padding-left: 40px;
}

.container{
    padding-top: 140px;
}

.footer-container{
    background-color: #ff2945;
    padding-bottom: 2rem;
    width: 100%;
}

.footer{
    height: 2vh;
    background-color: #ff2945; 
    color: white;
    display: flex;
    justify-content: center;
}

.footer-heading-1{
    margin-top: 1vh;
}

.footer-heading-1 a{
    text-decoration: none;
    color: #151C28;
    font-size: clamp(2px, 3.2vw, 16px);
    font-weight: 500;
    align-items: center;
    
    margin: 0.6rem;
}

.sm-icon{
    width: 9%;
    object-fit: cover;

}

@media only screen and (max-width: 1000px)
{
    #sidebar
    {
        display: none;
    }
}


@media only screen and (max-width: 767px)
{

    .bar{
        width: 28px;
    }

    .hamburger{
        left: 25px;
    }

    .nav-menu{
        left: -200%;
        position: fixed;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color:#f5ebedf5;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 130px;
        transition: 0.3s;
        font-weight: 500;
        font-size: 35px;
        z-index: 1;
    }

    main.container section{
        margin-bottom: 25px;
    }

    main.container section img{
        block-size: auto;
        margin-bottom: 15px;
    }

    .box-shadow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar-brand{
        
    padding-right: 40px;
    padding-left: 40px;
    }

    .footer-heading-1{
        margin-top: 1vh;
        margin-left: 1vh;
    }

}

@media only screen and (max-width: 420px)
{

    
    .banner{
        height: 78px; 
    }

    .navbar{
        padding-left: 80px;
    }

    .container{
        padding-top: 90px;
    }

    .lead{
        font-size: 16px;
        font-weight: 400;
    }

    .footer-heading-1 a{
        text-decoration: none;
        color: #151C28;
        font-size: clamp(2px, 3.1vw, 16px);
        font-weight: 600;
        
        margin: 0.5rem;
    }

    .footer-heading-1{
        margin-top: 1vh;
        margin-left: 6%;
    }
}


/* .bg-body-tertiary{
    top: 0; 
    height: 100%;
} */
